header{
  background-color: #D8CC0B;
  color: black;
  margin-bottom: 10%;
  width: 100%;
  nav{
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.whole-section{
  margin-top: 15%;
aside, .category{
  display: block;
  float: right;
  }
}
